.btn-outline-secondary{
    color:#6c757d;
    border-color:#6c757d;
}

.btn-outline-secondary:hover{
    color:#fff;
    background-color:#6c757d;
    border-color:#6c757d;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
